# Midas codeowners file
 
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @MD-DefaultReviewers-main will be requested for
# review when someone opens a pull request.
*       @fin-ub/MD-DefaultReviewers-main

# This should only be enabled for support code lines, eg develop_2021A_*, and
# don't forget to disable the main default reviewers above
#       @fin-ub/MD-DefaultReviewers-support
 
# Only DevOps should be approving any change in the .github folder
/.github/ @fin-ub/UB-DefaultReviewer-DevOps
